# Build outputs 
[Bb]in/ 
[Oo]bj/ 
.vs/ 
ConsoleApp1/
ConsoleApp2/
PythonApplication1/
TestResults/
CPythonAPI/
DotPython/x64/
x64/
/packages/Nerdbank.GitVersioning.3.9.50/build/runtimes
/packages/Nerdbank.GitVersioning.3.9.50
/nupkg
/packages
*.nupkg
